/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ===================== Base styles ===================== */
  body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
     line-height: 1.5em;
     color: white;
   }

  header, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .content-wrapper {
    width: 90%;
   }

   h1{
     font-family: 'Poppins', sans-serif;
     font-weigh:500;
     font-size: 3.75em;
     line-height: 1.25em;
     font-weight: 400;


   }

  h2 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 3em;
      line-height: 1.25em;
  }
  h3 {
    font-size: 2.25em;
    line-height: 1.25em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.875em;
    line-height: 1.125em;
    font-weight: 400;
  }
  h6 {
    font-size: 1.1875em;
    ont-weight: 400;
  }
  h3, 
  h4 {
      font-family: 'Poppins', sans-serif;
  }

  a {
    color: #e2e3ed;
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style: none;
    text-transform: smallcaps;
  }
  address {
    font-style: normal;
  }
   p{

   }

/* ===================== Header styles ===================== */

header {
  width: 100%;
  padding: 15px 0;
  margin: 0;
  background-color: #202322;
}

header .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

 header figure{
  width: 60%; /*60 percent of the content wrapper*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header figure a img{
  width: 100%; /*100% of the figure*/
  display: flex;
  justify-content: center;
  align-items: center;

  
}

header .header-divider{
 width: 100%;
}

header nav {
  width:70%;  /*70% of the container its in which is the content wrapper*/
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;/* 100% of the container it is in which is nav*/
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul li {

}

/* ===================== footer styles ===================== */

footer {
  background-color: #202322;
}

footer .content-wrapper{
  width: 55%;
  text-align: center;
  padding-top: 50px;
}

.footer-content address p {
  margin: 0;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .social-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

}

footer .social .social-icons p {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  border-radius: 50%;
  color: white;
  background: #527158;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer .social .social-icons p i {
  margin: 10px;
  text-align: center;
}
/* ===================== Mobile styles - Homepage ===================== */
/* HERO AREA */
.hero-area {
  min-height:500px;
  /* padding: 55px 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  background-image: url(../img/darker-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
/* Not sure if padding or margin works best here yet */
.hero-area .content-wrapper { 
  margin: 55px 20px;
}
.hero-area h1{
  margin: 0; /* taking away the default margin*/
}

/* EMAIL FORM */
aside {
  background-color: #527158;
  max-height: 330px;  /* not sure if this is necessary*/
  padding: 30px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: row wrap; THIS DIDN'T WORK FOR THE ALIGNMENT OF THE CONTENT*/
}

aside .content-wrapper {
  
  width: 100%; /* 100% of the aside */
  /* margin: 30px 20px 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside h6 {
  margin: 0;
}
 /* For both above and below, taking away default style */
aside .form-description p {
  margin: 0;
}

aside .form-description {

  display: flex;
  justify-content: flex-center;
  align-items: center;
  flex-flow: row wrap;
}


aside .form-description h6 {
  margin-bottom: 15px;
}

aside .form-description p {
  margin-bottom: 40px;
}

aside .form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
aside h3{
  margin-bottom: 10px;
}
aside input {
  margin: 10px 0;
  min-height: 50px;
}
aside .form input {
  width: 100%;
}

/* aside .form {
  margin-top: 30px;
} */
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* FEATURES */
.features {
  /* padding: 55px 0 65px 0; */
  background-image: url(../img/amenities.jpg);
  background-repeat: no repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features .content-wrapper {
  margin: 55px 0 65px;
}

.features h1 {
  margin: 0;
}

.features article {
  width: 55%;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

  /* custom styling for icons */
    .features .features-items article p {
      text-align: center;
    }
    .features .features-items article p i {
      font-size: 4em;
      
    }

.feature-description{

}

/* REVIEWS */
.reviews {
  
  background-color: #2a423a;
  min-height: 608px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews h3 {

  margin: 0;
}

/* Not sure if there should be a content wrapper div in the article div but its there and looks normal */

.reviews .content-wrapper {
  margin: 50px 0;
}

.reviews h3 {
  margin-bottom: 20px;
}
.reviews article {
  
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row wrap;
}

.reviews article figure {
  width: 100%;
  margin: 0;
  
}

.reviews article figure img {
  width: 100%;

}

/* ===================== Mobile styles - About ===================== */

.mission {
  /* padding: 50px 0; */
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission .content-wrapper {
  margin: 50px 0;
}

.mission h1{
  margin: 0;
}

.mission br {
  min-height: 20px;
}

.map-container{
  min-height: 450px; 
  position: relative;
  padding-bottom: 80%;
  /* height: 0; */
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.contact-section{
  /* padding: 50px 0; */
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section .content-wrapper {
  margin: 50px 0;
}

.info-column address p {
  margin: 0;
}

/* ===================== Mobile styles - FAQ ===================== */

.faq{
  /* padding: 45px 0; */
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq h1{
  margin: 0;
}

.faq .content-wrapper{
  margin: 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
/* General styles */
    .content-wrapper {
        max-width: 640px;
        margin: 100px 0;
    }
 
    /* Header */
 
    header {
      height: 100px; /* should this be min height?*/
    }
 
    header .content-wrapper {
      margin: 0;
      justify-content: space-between;
    }
    header figure {
      width: 35%;
    }
 
    header nav {
        width: 25%;
        
    }
 
    header nav ul {
 
    }
 
    .header-divider {
        display: none;
    }
 
    /* Hero Area */
    .hero-area .content-wrapper {
      margin: 100px 65px;

    }
    /* Aside */
    aside .content-wrapper {
        margin: 50px 0;
        justify-content: space-between;
    }
 
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {        
        width: 40%;        
        margin: 0;

    }

    aside .content-wrapper .form-description h3 {
      margin-bottom: 50px;
    }
 
    /* Features */
    .features {
      background-position: center;
    }
    
    .features article {
     width: 195px;
    }
 
    .features .features-items {
      padding: 0 68px; /* this padding was the key to the 2 columns */
      justify-content: space-between;
      align-content: center;
        
    }
 
    /* Reviews */
    .reviews .content-wrapper article {
      justify-content: space-between;
      flex-flow: row wrap;
    }
    
    .reviews article figure {
      width: 50%;
    }

    .reviews article div {
        width: 50%;

    }
    .reviews article h6 {
      margin: 0;
    }
    /* Footer */
    footer {
      height: 325px;
    }
    footer .content-wrapper {
        width: 520px;
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    .footer-content {
      width: 30%;
    }
    .social {
      width: 30%;
    }
 
    footer .contact {
        margin-bottom: 0;
    }
 
    footer .copyright {
        width:
    }

    /* ABOUT PAGE */

    /* Mission section */
    .mission .mission-content {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-flow: row wrap;

    }
    .mission .mission-content p {
      width: 45%;
    }

    .map-container{
      min-height: 0;;
      padding-bottom: 45%;
  }

/* Cotact section */
    .contact-section .info-sections {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-flow: row wrap;

    }

    .info-column {
      width: 40%;
    }
    
    /* FAQ page */
    /* FAQ section */
    .faq .content-wrapper .questions{
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    .faq-content .questions article {
      width: 47%;

    }

}

 
@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
.content-wrapper {
  max-width: 960px;
  margin: 50px 0;
}

header nav {
  width: 15%;

}

header figure{
  width: 30%;
}
/* homepage */
/* HERO AREA */
.hero-area .content-wrapper{
  margin: 50px 120px;
}

aside .content-wrapper .form-description,
    aside .content-wrapper .form {        
        width: 33%;        
        margin: 0;
        padding: 0 80px;

    }

    /* features */
.features .features-items {
      padding: 0 80px; /* this padding was the key to the 2 columns */
      justify-content: space-evenly;
      align-items: stretch;
      align-content: space-between;
      flex-flow: row wrap
        
    }

    .features article {
     width: 195px;
     margin: 0 30px;
    }


      
    /* footer */
    footer {
      height: 340px;
    }

    footer .content-wrapper {
        width: 835px;
        padding:0 60px;
        
    }
    .footer-content {
      width: 20%;
    }

    .social {
      width: 20%;
    }

    /* ABOUT PAGE */

     .map-container{
      min-height: 0;;
      padding-bottom: 37.5%;
  }
    /* FAQ page */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

